<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="./bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         executionOrder="depends,defects"
         failOnEmptyTestSuite="true"
         failOnIncomplete="false"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true"
         requireCoverageMetadata="false"
         stopOnDefect="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnRisky="true"
         stopOnSkipped="false"
         stopOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="lib">
            <!-- <file>TestSuite.php</file> -->
            <directory>.</directory>
            <!-- Exclude abstract classes: -->
            <exclude>Unit/App/MessageTest.php</exclude>
            <exclude>Unit/Caching/CacheTest.php</exclude>
            <exclude>Unit/Tech/MySql/QueryTest.php</exclude>
            <exclude>Unit/Tech/Php/BaseErrorHandlerTest.php</exclude>
            <exclude>Unit/Tech/Php/DiscoverStrategyTest.php</exclude>
            <exclude>Unit/Tech/Php/test-data/ClassTypeDiscovererTest/Test.php</exclude>
        </testsuite>
        <testsuite name="module">
            <directory>../backend/localhost/test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </coverage>
</phpunit>
