<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="bootstrap.php" cacheDirectory=".phpunit.cache" executionOrder="depends,defects" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="true" beStrictAboutOutputDuringTests="true" stopOnDefect="true" stopOnError="true" stopOnFailure="true" stopOnWarning="true" stopOnIncomplete="false" stopOnRisky="true" stopOnSkipped="true" failOnEmptyTestSuite="true" failOnIncomplete="false" failOnRisky="true" failOnSkipped="true" failOnWarning="true" displayDetailsOnIncompleteTests="true" displayDetailsOnSkippedTests="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="lib">
            <!-- <file>TestSuite.php</file> -->
            <directory>.</directory>
            <!-- Exclude abstract classes: -->
            <exclude>Unit/App/MessageTest.php</exclude>
            <exclude>Unit/Caching/CacheTest.php</exclude>
            <exclude>Unit/Tech/MySql/QueryTest.php</exclude>
            <exclude>Unit/Tech/Php/BaseErrorHandlerTest.php</exclude>
            <exclude>Unit/Tech/Php/DiscoverStrategyTest.php</exclude>
            <exclude>Unit/Tech/Php/test-data/ClassTypeDiscovererTest/Test.php</exclude>
        </testsuite>
        <testsuite name="module">
            <directory>../backend/localhost/test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </source>
</phpunit>
